<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isuo.yw2application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}" />
    <uses-permission android:name="android.permission.NFC" />

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal" />

    <application
        android:name=".app.Yw2Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <service
            android:name=".push.CustPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <service android:name=".push.CustIntentService" />


        <activity
            android:name=".view.splash.SplashActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/WhiteStyleActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.login.LoginActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/WhiteStyleActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 首页-->
        <activity
            android:name=".view.main.MainActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/LoginActivityStyle"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--分享-->
        <activity
            android:name=".view.share.ShareActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 注册 -->
        <activity
            android:name=".view.register.RegisterActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--忘记密码-->
        <activity
            android:name=".view.pass.ForgePassActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 查看图片 -->
        <activity
            android:name=".view.photo.ViewPagePhotoActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--测试activity-->
        <activity
            android:name=".view.test.TestActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--关于我们-->
        <activity
            android:name=".view.main.about.AboutActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--忘记密码-->
        <activity
            android:name=".view.main.forgepassword.ForgePassWordActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--提交意见-->
        <activity
            android:name=".view.main.feedback.QuestionActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--联系人-->
        <activity
            android:name=".view.contact.ContactActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--消息列表-->
        <activity
            android:name=".view.main.work.message.NewsListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--图片裁剪-->
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <!--设备相关-->
        <activity
            android:name=".view.main.device.search.EquipSearchActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.equip.archives.EquipmentArchivesActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.equip.alarm.EquipmentAlarmActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.equip.data.EquipmentDataActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.equip.photo.EquipmentPhotoListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.equip.record.EquipmentRecordActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.equip.time.detail.EquipmentRecordDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.equip.time.EquipmentTimeLineActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.device.equipment.CreateEquipmentActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.device.info.CreateEquipInfoActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.device.list.EquipListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--任务类数据-->
        <activity
            android:name=".view.main.adduser.EmployeeActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.task.increment.execute.IncrementWorkActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.task.increment.detail.IncrementDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.task.increment.submit.IncrementActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.task.increment.WorkIncrementActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.task.overhaul.detail.OverhaulDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.task.overhaul.security.SecurityPackageActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.task.overhaul.WorkOverhaulActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.task.overhaul.execute.OverhaulExecuteActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.generate.increment.GenerateIncrementActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.generate.repair.GenerateRepairActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--故障类型-->
        <activity
            android:name=".view.main.alarm.list.AlarmListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.alarm.detail.AlarmDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.alarm.fault.FaultActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.alarm.fault.history.FaultHistoryActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.alarm.equipalarm.EquipAlarmActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--巡检-->
        <activity
            android:name=".view.main.task.inspection.WorkInspectionActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.task.inspection.detial.InspectDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.task.inspection.data.InspectionDataActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.task.inspection.input.InputActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.task.inspection.report.ReportActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.task.inspection.security.SecurityPackageActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.task.inspection.work.InspectionRoomActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 所有工作-->
        <activity
            android:name=".view.main.work.all.WorkItemListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--数据-->
        <activity
            android:name=".view.main.data.fault_report.FaultReportActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.data.fault_time.FaultTimeActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.data.statistics.part.StatisticsPartActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.data.statistics.person.StatisticsPersonActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.data.fault_type.FaultTypeActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.data.staff_time.StaffTimeActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.data.fault_line.FaultLineActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.data.count.alarm.DealAlarmCountActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.data.count.work.WorkCountActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.data.staff_count.StaffCountActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.main.work.sos.SOSActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />

    </application>

</manifest>