<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isuo.yw2application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}" />
    <uses-permission android:name="android.permission.NFC" />

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal" />

    <application
        android:name=".app.Yw2Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".view.splash.SplashActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:launchMode="singleTop"
            android:theme="@style/WhiteStyleActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.login.LoginActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/WhiteStyleActivity"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 首页-->
        <activity
            android:name=".view.main.MainActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--分享-->
        <activity
            android:name=".view.share.ShareActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 注册 -->
        <activity
            android:name=".view.register.RegisterActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--忘记密码-->
        <activity
            android:name=".view.pass.ForgePassActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 查看图片 -->
        <activity
            android:name=".view.photo.ViewPagePhotoActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--测试activity-->
        <activity
            android:name=".view.test.TestActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="adjustPan|stateHidden" />

    </application>

</manifest>