<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sito.evpro.inspection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--nfc 权限-->
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".app.InspectionApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.sito.evpro.inspection.utils.MyGlideModule"
            android:value="GlideModule" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a6582a6f43e48782d0000ff" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="{UMENG_CHANNEL}" />

        <activity
            android:name="com.sito.evpro.inspection.view.home.HomeActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/LoginActivityStyle"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.sito.evpro.inspection.view.splash.SplashActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/LoginActivityStyle"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--<category android:name="android.intent.category.HOME" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            </intent-filter>
        </activity>
        <activity
            android:name=".view.shortcuts.ShortcutsActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginActivityStyle" />
        <activity
            android:name="com.sito.evpro.inspection.view.login.LoginActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/LoginActivityStyle"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.sito.evpro.inspection.view.energy.EnergyListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.greasing.GreasingListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.sito.evpro.inspection.view.setting.SettingActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.setting.AboutActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.repair.RepairActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.employee.EmployeeActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.fault.FaultActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.sito.evpro.inspection.view.faulthistory.FaultHistoryActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.increment.IncrementActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.sito.evpro.inspection.view.repair.inspection.detail.InspectionDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sito.evpro.inspection.view.repair.overhaul.work.OverhaulWorkActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.sito.evpro.inspection.view.repair.inspection.report.ReportActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sito.evpro.inspection.view.setting.feedback.QuestionActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.setting.forgepassword.ForgePassWordActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.equipment.equiplist.EquipListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.equipment.equiplist.search.EquipSearchActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.increment.history.IncreHistoryActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.photo.ViewPagePhotoActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/LoginActivityStyle" />
        <activity
            android:name="com.sito.evpro.inspection.view.repair.inspection.inspectdetial.InspectionDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.repair.overhaul.detail.OverhaulDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.repair.inspection.inspectdetial.secure.SecureActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.regist.RegisterActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sito.evpro.inspection.view.sos.SOSActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.sito.evpro.inspection.view.repair.overhaul.note.OverhaulNoteActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.sito.evpro.inspection.view.share.ShareActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.sito.evpro.inspection.view.contact.ContactActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.sito.evpro.inspection.view.repair.inspection.data.InspectionDataActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.sito.evpro.inspection.view.create.equipment.CreateEquipmentActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.sito.evpro.inspection.view.create.info.CreateEquipInfoActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.sito.evpro.inspection.view.repair.increment.work.IncrementWorkActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.sito.evpro.inspection.view.repair.increment.detail.IncrementDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.sito.evpro.inspection.view.equipment.archives.EquipmentArchivesActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.sito.evpro.inspection.view.equipment.alarm.EquipmentAlarmActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.sito.evpro.inspection.view.equipment.data.EquipmentDataActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.sito.evpro.inspection.view.equipment.record.EquipmentRecordActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.sito.evpro.inspection.view.equipment.time.EquipmentTimeLineActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.sito.evpro.inspection.view.equipment.time.detail.EquipmentRecordDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.sito.evpro.inspection.view.setting.test.TestActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.sito.evpro.inspection.view.repair.inspection.input.InputActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <!--<activity-->
        <!--android:name=".wxapi.WXEntryActivity"-->
        <!--android:exported="true"-->
        <!--android:launchMode="singleTop" />-->


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
    </application>

</manifest>