<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sito.customer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}" />
    <uses-permission android:name="android.permission.NFC" />

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal" />

    <application
        android:name=".app.CustomerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name=".view.splash.SplashActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/LoginActivityStyle"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
<!--                <category android:name="android.intent.category.HOME" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
            </intent-filter>
        </activity>
        <activity
            android:name=".view.login.LoginActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"

            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/LoginActivityStyle"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.welcome.WelcomeActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"

            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/LoginActivityStyle"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.HomeActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/HomeActivityStyle"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.news.equipalarm.EquipAlarmActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.mine.AboutActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.discover.staffcount.StaffCountActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.alarm.list.AlarmListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.discover.equiplist.EquipListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.work.inject.InjectActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.discover.equiplist.search.EquipSearchActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.discover.faulttype.FaultTypeActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.discover.faulttime.FaultTimeActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.discover.faultreport.FaultReportActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.discover.stafftime.StaffTimeActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.count.work.WorkCountActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.count.alarm.DealAlarmCountActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.alarm.AlarmDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.work.overhaul.detail.OverhaulDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.work.inspection.detial.InspectDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.work.item_list.WorkItemListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.photo.ViewPagePhotoActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/LoginActivityStyle"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.alarm.adduser.EmployeeActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.mine.feedback.QuestionActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.home.discover.handbook.ShowWebActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.pass.ForgePassActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.regist.RegisterActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.share.ShareActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.contact.ContactActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.home.work.inspection.data.InspectionDataActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.home.discover.generate.repair.GenerateRepairActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.discover.generate.increment.GenerateIncrementActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.work.increment.detail.IncrementDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.home.work.inspection.security.SecurityPackageActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.home.work.inspection.work.InspectionRoomActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.home.work.inspection.report.ReportActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.home.work.inspection.WorkInspectionActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.home.work.overhaul.WorkOverhaulActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.home.work.increment.WorkIncrementActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.home.work.await.AwaitActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.home.discover.statistics.part.StatisticsPartActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.home.discover.statistics.person.StatisticsPersonActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="${GETUI_APP_ID}" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GETUI_APP_KEY}" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GETUI_APP_SECRET}" />

        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message" />
            </intent-filter>
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".view.home.mine.forgepassword.ForgePassWordActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 个推SDK配置结束 -->
        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.${applicationId}"
            android:exported="true"
            android:process=":pushservice" />

        <service
            android:name=".push.CustPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <service android:name=".push.CustIntentService" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".view.home.news.safe.NewsSafeActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.home.news.message.MessageActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.home.discover.StandInfoActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.equip.alarm.EquipmentAlarmActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.equip.photo.EquipmentPhotoListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.equip.archives.EquipmentArchivesActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.equip.data.EquipmentDataActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.equip.record.EquipmentRecordActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.equip.time.detail.EquipmentRecordDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.equip.time.EquipmentTimeLineActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.test.TestActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.home.work.sendmessage.SendMessageActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.home.work.inspection.input.InputActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.overhaul.execute.OverhaulExecuteActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.overhaul.security.SecurityPackageActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.sos.SOSActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.fault.FaultActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />


        <activity
            android:name=".view.home.work.create.equipment.CreateEquipmentActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.create.info.CreateEquipInfoActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.fault.history.FaultHistoryActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.tool.ToolsActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.increment.execute.IncrementWorkActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".view.home.work.increment.submit.IncrementActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.tool.add.AddToolsActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.tool.detail.ToolsDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.tool.borrow.BorrowToolsActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.tool.return_tools.ReturnToolsActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.inject.filter.InjectFilterActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.inject.detail.InjectDetailActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.inject.oil.InjectOilActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.news.enterprise.EnterpriseActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".view.home.work.today.doing.TodayDoingActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name=".view.home.work.today.fault.TodayFaultActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.nbsp.materialfilepicker.ui.FilePickerActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:windowSoftInputMode="stateUnchanged" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a6abb34f29d980cb000025b" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="{UMENG_CHANNEL}" />
        <!--<activity-->
        <!--android:name=".wxapi.WXEntryActivity"-->
        <!--android:exported="true"-->
        <!--android:launchMode="singleTop" />-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>